
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageMusteri.cshtml";
}

<main id="main">
    <section id="menu" class="menu">
        <div class="container">

            <br />
            <br />
            <div class="section-title">
                <h2>Menümüz</h2>
            </div>

        

            <div class="row menu-container">

                <div class="col-lg-6 menu-item filter-pizza">
                    <div class="menu-content">
                        <a href="#">Margarita</a><span> 100 TL</span>
                    </div>
                    <div class="menu-ingredients">
                        Pizza Sosu,mozzarella peyniri
                    </div>
                </div>

                <div class="col-lg-6 menu-item filter-pizza">
                    <div class="menu-content">
                        <a href="#">Favori Üçlü</a><span> 90 TL</span>
                    </div>
                    <div class="menu-ingredients">
                        Pizza Sosu,mozzarella peyniri,sosis,mantar,mısır
                    </div>
                </div>

                <div class="col-lg-6 menu-item filter-pizza">
                    <div class="menu-content">
                        <a href="#">Karışık</a><span> 90 TL</span>
                    </div>
                    <div class="menu-ingredients">
                        Pizza Sosu,mozzarella peyniri,sucuk,salam,sosis,mantar,mısır,siyah zeytin,yeşilbiber,domates,kekik,susam
                    </div>
                </div>

                <div class="col-lg-6 menu-item filter-burger">
                    <div class="menu-content">
                        <a href="#">Whopper</a><span> 120 TL</span>
                    </div>
                    <div class="menu-ingredients">
                        Hamburger eti, küçük boy susamlı sandviç ekmeği, salatalık turşusu, ketçap, mayonez, marul, domates, soğan
                    </div>
                </div>

                <div class="col-lg-6 menu-item filter-burger">
                    <div class="menu-content">
                        <a href="#">King Chicken</a><span> 120 TL</span>
                    </div>
                    <div class="menu-ingredients">
                        King Chicken eti, susamlı sandviç ekmeği, mayonez,marul
                    </div>
                </div>



                <div class="col-lg-6 menu-item filter-tatlı">
                    <div class="menu-content">
                        <a href="#">Sufle</a><span> 60 TL</span>
                    </div>

                </div>
                <div class="col-lg-6 menu-item filter-tatlı">
                    <div class="menu-content">
                        <a href="#">Brownie</a><span> 60 TL</span>
                    </div>

                </div>

                <div class="col-lg-6 menu-item filter-tatlı">
                    <div class="menu-content">
                        <a href="#">San Sebastian</a><span> 75 TL</span>
                    </div>

                </div>

                <div class="col-lg-6 menu-item filter-icecek">
                    <div class="menu-content">
                        <a href="#">Kola</a><span> 20 TL</span>
                    </div>

                </div>

                <div class="col-lg-6 menu-item filter-icecek">
                    <div class="menu-content">
                        <a href="#">Ayran</a><span> 15 TL</span>
                    </div>

                </div>

                <div class="col-lg-6 menu-item filter-salads">
                    <div class="menu-content">
                        <a href="#">Limonata</a><span> 30 TL</span>
                    </div>

                </div>



            </div>

        </div>
    </section>
</main>

